@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@100;200;300;400;500;600;700;800;900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.hg-conteudo {
    background-color: silver;
}

.hg-conteudo > main {
    background-image: url(https://s5.static.brasilescola.uol.com.br/img/2018/09/hitler-mussolini.jpg);
    background-size: cover;
    flex: 1;
}

body {
    margin: 0 auto;
    max-width: 1440px;
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    font-family: 'PT Sans', sans-serif;
}

.hg-conteudo {
    flex: 1;
    display: flex;
    flex-flow: column;
}

.hg-conteudo > nav {
    order: -1;
}

@media (min-width: 768px) {
    .hg-conteudo {
        flex-flow: row;
    }

    .hg-conteudo > aside,
    .hg-conteudo > nav {
        flex: 0 0 200px;
    }
}

header{
    background-color: rgb(175, 137, 67);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    font-size: 2rem;
    font-family: 'Gluten', cursive;
}

#primeiraPag{
    border: 3px solid rgb(29, 37, 28);
    background-color: rgb(233, 233, 233);
    padding: 20px;
    font-size: larger;
}

span{
    font-weight: bold;
}
